html {
	font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 106.25%;
	quotes: '“' '”';
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
}
.large-3 {
	flex-basis: 25%;
	max-width: 25%;
}
.large-5 {
	flex-basis: 41.66667%;
	max-width: 41.66667%;
}
.large-7 {
	flex-basis: 58.33333%;
	max-width: 58.33333%;
}
.large-9 {
	flex-basis: 75%;
	max-width: 75%;
}
.large-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.large-offset-3 {
	margin-left: 25%;
}
.column {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-width: 0;
}
.link {
	cursor: pointer;
}

a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: #06c;
	letter-spacing: inherit;
}
button {
	background: none;
	border: 0;
	box-sizing: content-box;
	color: inherit;
	cursor: pointer;
	font: inherit;
	line-height: inherit;
	overflow: visible;
	vertical-align: inherit;
}
.button {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	font-size: 17px;
	line-height: 1.17648;
	font-weight: 400;
	letter-spacing: -0.022em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	min-width: 28px;
	padding: 8px 16px;
	border-radius: 18px;
	background: #0071e3;
	color: #fff;
}

.button-block {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-radius: 8px;
}
.as-buttonlink {
	text-decoration: none;
	background: transparent;
	border: 0;
	color: #06c;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	padding: 0;
	vertical-align: inherit;
	cursor: pointer;
}
.bag-content {
	padding-top: 50px;
	margin-bottom: 100px;
	box-sizing: border-box;
}
.bag-container {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

.bag-button-header {
	text-align: center;
	padding-bottom: 60px;
	padding-top: 10px;
	border-bottom: 1px solid #d2d2d7;
}

.bag-header {
	font-size: 40px;
	line-height: 1.1;
	font-weight: 600;
	letter-spacing: 0;
	font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	padding-bottom: 2px;
}
.v-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(0 0 99.9% 99.9%);
	clip-path: inset(0 0 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
}
.bag-middlexmerch {
	padding-top: 13px;
}
.bag-middlexmerch span {
	font-weight: 600;
}

.bag-checkoutbuttons-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	min-height: 66px;
}
.bag-checkoutbutton {
	width: 290px;
	margin-top: 31px;
}

.bag-checkoutbutton .button {
	width: 100%;
	box-sizing: border-box;
	white-space: normal;
}

.iteminfos {
	list-style: none;
	margin: 4.17647rem 0 20px;
}

.iteminfos .iteminfo {
	margin-bottom: 0;
	padding-bottom: 72px;
	border-bottom: 1px solid #d2d2d7;
}

.iteminfo-image {
	width: 203px;
	text-align: center;
	margin-top: 2px;
}

.iteminfo-image img {
	max-width: 203px;
	max-height: 203px;
	width: auto;
	height: auto;
	float: none;
}

.iteminfo-details {
	display: flex;
	flex-wrap: wrap;
}

.iteminfo-title-wrapper {
	padding-right: 20px;
	box-sizing: border-box;
}
.iteminfo-title {
	font-size: 24px;
	line-height: 1.16667;
	font-weight: 600;
	letter-spacing: 0.009em;
	font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #1d1d1f;
}
.iteminfo-title a,
.iteminfo-title a:link,
.iteminfo-title a:visited {
	color: #1d1d1f;
	text-decoration: none;
}
.iteminfo-title a:hover {
	color: #06c;
}
.iteminfo-actions-left {
	margin-top: 12px;
}

.iteminfo-detailstext {
	order: 1;
}
.iteminfo-quantity {
	width: 18%;
}
.iteminfo-quantity .quantity {
	padding-left: 19px;
	margin-top: -2px;
}

.quantity-selector .quantity-wrapper {
	display: inline-block;
	position: relative;
}

.form-dropdown-select {
	font-size: 17px;
	line-height: 1.23536;
	font-weight: 400;
	letter-spacing: -0.022em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	width: 100%;
	height: 3.29412rem;
	border-radius: 12px;
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
	margin-bottom: 0.82353rem;
	padding: 1.05882rem 2.35294rem 0 0.94118rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.quantity-selector select {
	width: 2.76471rem;
	font-size: 24px;
	line-height: 1.16667;
	font-weight: 600;
	letter-spacing: 0.009em;
	font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #1d1d1f;
	height: 1.41176rem;
	margin-bottom: 0;
	padding: 0 0 0 5px;
	border: 0;
	display: inline-block;
	background-color: transparent;
}
.form-dropdown .form-dropdown-select {
	color: #1d1d1f;
	border-color: #d2d2d7;
	background-color: hsla(0, 0%, 100%, 0.8);
}

.quantity-icon {
	font-size: 24px;
	line-height: 1.16667;
	font-weight: 600;
	letter-spacing: 0.009em;
	font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #0071e3;
	position: absolute;
	right: -1px;
	top: 2px;
}

.iteminfo-pricedetails {
	width: 23%;
}

.iteminfo-price {
	padding-left: 0.58824rem;
	text-align: right;
}

.iteminfo-price {
	font-size: 24px;
	line-height: 1.16667;
	font-weight: 600;
	letter-spacing: 0.009em;
	font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #1d1d1f;
}
.iteminfo-actions-right {
	text-align: right;
	margin-top: 12px;
}

.iteminfo-actions-right button {
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -0.022em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.inlinerecommendations {
	border-top: 1px solid #d2d2d7;
	margin-top: 21px;
}

.iteminfo-child {
	margin-top: 21px;
}

.as-icondetails {
	font-size: 14px;
	line-height: 1.42859;
	font-weight: 400;
	letter-spacing: -0.016em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.iteminfo-child-image {
	position: absolute;
	margin-top: 2px;
	margin-left: 1px;
}

.iteminfo-child-image img {
	width: 18px;
	height: auto;
	margin-top: 1px;
}
.as-icondetails-detail {
	display: flex;
	flex-wrap: wrap;
	margin-left: 1.52941rem;
}
.inlinerecommendations .as-icondetails-detail {
	display: flex;
	flex-wrap: wrap;
	margin-left: 1.52941rem;
}

.iteminfo-child-title {
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -0.022em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 600;
	display: inline-block;
}
.iteminfo-child-desc {
	order: 1;
	margin-top: 0;
}

.iteminfo-child-tagline {
	order: 1;
	width: 100%;
	font-size: 14px;
	line-height: 1.42859;
	font-weight: 400;
	letter-spacing: -0.016em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin-top: 3px;
	margin-bottom: -2px;
}

.as-form-choiceselectordesc-listitem {
	display: list-item;
	padding-bottom: 5px;
	list-style-type: disc;
	margin-left: 16px;
}

.iteminfo-child-link {
	font-size: 14px;
	line-height: 1.42859;
	font-weight: 400;
	letter-spacing: -0.016em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin-top: 0;
}
.iteminfo-child-actions {
	flex: 1;
	float: right;
	text-align: right;
}
.iteminfo-child-actions {
	font-size: 17px;
}

.iteminfo-child-2 {
	margin-top: 21px;
	padding-top: 21px;
	border-top: 1px solid #d2d2d7;
}

.iteminfo-child-2 .as-icondetails .as-icondetails-icon {
	margin-top: 12px;
	color: #1d1d1f;
}

.as-icondetails-detail {
	margin-left: 1.52941rem;
	display: block;
}
.iteminfo-child-2 .as-icondetails-icon.as-svgicon-container {
	transform: translateY(-50%);
	margin-top: 13px;
	display: block;
	position: absolute;
}

.bag-delivery-coldtitle {
	font-weight: 600;
	margin-bottom: 8px;
	font-weight: 600;
}

.bag-delivery-coldtitle .as-buttonlink {
	font-weight: 400;
}
.bag-fulfillment-options {
	margin-top: 1px;
}

.bag-fulfillment-options .as-icondetails {
	margin-right: 24px;
}

.summary {
	margin-top: 41px;
}

.summary-content {
	margin-bottom: 5px;
}

.summary-labelandvaluecontainer {
	display: flex;
	justify-content: space-between;
}
.summary-label {
	z-index: 2;
	padding-right: 20px;
}
.summary-label {
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -0.022em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	flex-grow: 1;
}

.summary-total {
	border-top: 1px solid #d2d2d7;
	margin-top: 16px;
	padding-top: 19px;
}

.summary-total .summary-label {
	font-size: 24px;
	line-height: 1.16667;
	font-weight: 600;
	letter-spacing: 0.009em;
	font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #1d1d1f;
}

.summary-total .summary-value {
	font-size: 24px;
	line-height: 1.16667;
	font-weight: 600;
	letter-spacing: 0.009em;
	font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #1d1d1f;
}

.summary-financingmessage-wrapper .summary-value,
.rs-summary-loyaltysavings-message .rs-summary-value {
	font-size: 14px;
	line-height: 1.42859;
	font-weight: 400;
	letter-spacing: -0.016em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 1px 0 0;
	text-align: right;
	padding-left: 20px;
}

.summary-financingmessage-wrapper .summary-value .as-buyflow-messages a:hover {
	text-decoration: underline;
}
.bag-checkoutbutton {
	margin-top: 35px;
	width: 290px;
	float: right;
}
.form-button {
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border-radius: 18px;
	background: #0071e3;
	color: #fff;
	font-size: 17px;
	line-height: 1.17648;
	font-weight: 400;
	letter-spacing: -0.022em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	min-width: 28px;
	padding: 18px 31px;
	border-radius: 28px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-radius: 8px;
	border-radius: 12px;
	white-space: normal;
	display: inline-block;
}

@media only screen and (max-width: 980px) {
	.bag-content{
		padding: 0 2rem;
	}
}
